<!DOCTYPE html>
<html lang="en" xmlns:bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>先谢郭嘉的博客-分类</title>
    <link href="images/favicon.ico" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css">
    <link rel="stylesheet" href="css/me.css">
</head>
<body>
<script src="lib/live2d/autoload.js"></script>
<div id="types">
    <!--导航-->
    <nav id="nav" class="gird-header" style="display: none">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui olive header item" style="font-family: STSong">先谢郭嘉</h2>
                <div class="right m-item item m-mobile-hide">
                    <a href="index.html" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                    <a href="types.html?id=1" class="active m-item item m-mobile-hide"><i class="clone outline icon"></i>分类</a>
                    <a href="archives.html" class="m-item item m-mobile-hide"><i class="clock icon"></i>时间轴</a>
                    <a href="message.html" class="m-item item m-mobile-hide"><i class="book icon"></i>留言板</a>
                    <a href="friendLink.html" class="m-item item m-mobile-hide"><i class="pencil alternate icon"></i>友链</a>
                    <a href="program.html" class="m-item item m-mobile-hide"><i class="coffee icon"></i>程序</a>
                    <a href="about.html" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
                    <div class="right m-item m-mobile-hide menu">
                        <div class="ui dropdown">
                            <div class="text">
                                <img class="ui avatar image" id="userAvatar">
                                <span id="spanName"></span>
                            </div>
                            <i class="dropdown icon" id="ico"></i>
                            <div class="menu" id="menu">
                                <a href="javascript:;" id="goUpdate" class="item">修改信息</a>
                                <div class="divider"></div>
                                <a href="javascript:;" class="item" id="exit">注销</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="javascript:;" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!--顶部图片-->
    <div class="m-bg-type_outer" style="width: 100%;height: 400px" id="waypoint">
        <img src="https://xiejiabin-1259671813.cos.ap-beijing.myqcloud.com/myblog/background4.jpg" alt="" class="ui m-bg image" style="width: 100%;height: 100%">
        <div class="m-bg-class_cover">
            <div class="ui container" style="position: relative ;bottom: -250px;">
                <div class="m-font-size-title m-right-bottom" align="center" style="font-family:'STXingkai'">文章分类</div>
                <div class="m-font-size-text-init-title m-margin-top" align="center">Code changes the world</div>
            </div>
        </div>
    </div>

    <!--悬浮框-->
    <div class="levitate">
        <div class="ui secondary segment form">
            <div align="center">
                <h4>名称：先谢郭嘉&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;坐标：湖南衡阳</h4>
            </div>
            <br>
            <div class="ui input">
                <input type="text" placeholder="站内搜索..." id="searchStr">
                <a class="ui mini primary button" id="search"><i class="search icon"></i>search</a>
            </div>
            <br>
            <br>
            <div align="center"> <h4>音乐盒</h4></div>
            <div id="aplayer" class="aplayer" data-id="4877773231" data-server="netease" data-type="playlist" data-fixed="false" data-listfolded="true" data-order="list" data-theme="#F58EA8" style="width: 100%"></div>
        </div>
    </div>

    <!--中间内容-->
    <div  class="m-margin- animated fadeIn">
        <div class="ui container">
            <div class="ui segment m-padded-tb-large m-opacity">
                <div class="ui container" align="center">
                    <div class="ui labeled button m-margin-tb-tiny" v-for="type in typeList">
                        <template v-if="id==type.id">
                            <a href="javascript:;" class="ui basic button teal" @click="goTo(type.id)">{{type.name}}</a>
                            <div class="ui basic left pointing label teal">{{type.blogCount}}</div>
                        </template>
                        <template v-else>
                            <a href="javascript:;" class="ui basic button" @click="goTo(type.id)">{{type.name}}</a>
                            <div class="ui basic left pointing label">{{type.blogCount}}</div>
                        </template>
                    </div>
                </div>
            </div>

            <div class="ui top attached teal m-opacity segment">
                <template v-for="blog in pageInfo.list">
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui middle aligned mobile reversed stackable grid" >
                            <div class="eleven wide column">
                                <h3 class="ui header" ><a v-bind:href="'blog.html?blogId='+blog.blogId" target="_blank" class="m-black">{{blog.title}}</a></h3>
                                <p class="m-text">{{blog.description}}......</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img v-bind:src="'http://152.136.107.185:8089/myblog/'+blog.user.avatar" alt="" class="ui avatar image">
                                                <div class="content"><a href="javascript:;" class="header">{{blog.user.nickName}}</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span>{{blog.createTime | dateFormat}}</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i><span>{{blog.views}}</span>
                                            </div>
                                            <div class="item">
                                                <i class="comment outline icon"></i><span>{{blog.commentCount}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a v-bind:href="'types.html?id='+blog.blogType.id" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">{{blog.blogType.name}}</a>
                                    </div>
                                </div>
                            </div>

                            <!--博文图片-->
                            <div class="five wide column">
                                <a v-bind:href="'blog.html?blogId='+blog.blogId" target="_blank">
                                    <img v-bind:src="blog.firstPicture"  alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                </template>
            </div>

            <!--分页-->
            <div class="ui bottom attached segment m-opacity">
                <div class="ui middle aligned two column grid">
                    <div class="three wide column">
                        <a href="javascript:;" class="ui mini teal basic button" v-if="!pageInfo.isFirstPage" @click="getInfo(pageInfo.isFirstPage ? pageInfo.pageNum : (pageInfo.pageNum-1))">上一页</a>
                    </div>
                    <div class="ten wide column" align="center">
                        <p><span>{{pageNum}}</span>&nbsp;&nbsp;/&nbsp;&nbsp;<span>{{pageInfo.pages}}</span></p>
                    </div>
                    <div class="three wide column">
                        <a href="javascript:;" class="ui mini teal basic button" v-if="!pageInfo.isLastPage" @click="getInfo(pageInfo.isLastPage ? pageInfo.pageNum : (pageInfo.pageNum+1))">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--置顶图标-->
    <div class="m-padded-tb-large m-fixed m-right-bottom">
        <a href="#" class="ui icon button" data-tooltip="置顶"><i class="chevron up icon"></i> </a>
    </div>
    <br>
    <br>
    <br>
    <!--底部栏-->
    <footer class="ui inverted vertical segment m-padded-tb-massive m-opacity">
        <!--容器-->
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="four wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced " >联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item m-text-thin">Email：2501267970@qq.com</a>
                        <a href="#" class="item m-text-thin">QQ：2501267970</a>
                    </div>
                </div>
                <div class="four wide column" >
                    <div class="ui inverted link list">
                        <div class="item">
                            <!--微信二维码-->
                            <h4 class="ui inverted header m-text-thin m-text-spaced " >关注公众号</h4>
                            <img src="../images/gongzhonghao.jpg" class="ui m-margin-top rounded image" alt="" style="width: 110px">
                        </div>
                    </div>
                </div>
                <div class="four wide column" >
                    <div class="ui inverted link list">
                        <div class="item">
                            <!--微信二维码-->
                            <h4 class="ui inverted header m-text-thin m-text-spaced " >微信号</h4>
                            <img src="../images/WX.png" class="ui m-margin-top rounded image" alt="" style="width: 110px">
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <div style="font-size: large;font-weight: bold" class="ui inverted  m-text-thin m-text-spaced m-margin-top">网站信息</div>
                    <div id="blog-message"><div class="ui inverted link list" style="align-content: center;margin-top: 10px">
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px;">
                            文章总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;"></h2> 篇
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            访问总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;"></h2> 次
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            评论总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;"></h2> 条
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            留言总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;"></h2> 条
                        </div>
                    </div></div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <!--博客运行时间统计-->
            <div style="color: #F08047;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced">
                我的网站已运行：<span id="htmer_time" class="item m-text-thin"></span>
            </div>
            <a rel="nofollow" href="http://www.beian.miit.gov.cn" target="_blank">湘ICP备20013183号-1</a>
        </div>
    </footer>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="js/cookie.js"></script>
<script src="js/serviceIp.js"></script>
<script src="js/user/userCheck.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
<script src="https://unpkg.com/meting@1.2/dist/Meting.min.js"></script>
<script src="js/jquery.params.js"></script>
<script src="lib/waypoints/jquery.waypoints.min.js"></script>
<script src="js/user/types.js"></script>
<script src="js/foot.js"></script>
</html>